* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #fff;
}
body{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    /* height: 100vh; */
    height: auto;
}
.center-content{
    height: auto;
    overflow: hidden; 
}
header{
    position: fixed; 
    top: 0; 
    width: 67%; 
    z-index: 100; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-links {
    list-style: none;
    display: flex;
    /* z-index: 9; */
}

.nav-links li {
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.5s forwards;
    margin-left: 40px;
}

.nav-links li:nth-child(1) { animation-delay: 0.3s; }
.nav-links li:nth-child(2) { animation-delay: 0.5s; }
.nav-links li:nth-child(3) { animation-delay: 0.7s; }
.nav-links li:nth-child(4) { animation-delay: 0.9s; }
.nav-links li:nth-child(5) { animation-delay: 1.1s; }

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.nav-links li:first-child a {
    color: #ff7956; 
}

.nav-links li a {
    font-size: 20px;
    text-decoration: none;
    color: #8f8f8f; 
    font-weight: 700;
    transition: all 0.3s;
    font-family: 'Poppins', sans-serif;
}

.nav-links li a.btn-link {
    background-color: #ff7956;
    color: white; 
    padding: 10px 30px; 
    border-radius: 25px; 

}

.nav-links li a:hover {
    color: #666666; 
}

.nav-links li a.btn-link:hover {
    background-color: #e06749; 
}

.navbar img {
    width: 36%;
    max-width: 100px;
    height: 12vh;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 300px;
    padding: 0 20px;
    height: 70vh;
    position: relative;
    overflow: hidden;
    height: auto;
    /* z-index: 10; */
}

.wraps {
    width: 50%;
    text-align: center;
}

.wraps h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #485056;
    font-weight: bold;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInText 3s forwards;
}


@keyframes slideInText {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.wraps p.home-desc {
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #6d7378;
    line-height: 1.6;
    margin-bottom: 30px;
    padding: 0 10px;
}

.get-started-btn {
    background-color: #ff7956;
    color: #fff;
    padding: 12px 25px;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: inherit;
    margin: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 0;
    width: 35%;
}
.get-learn-btn{
    background-color: #343a3f;
    color: #fff;
    padding: 12px 25px;
    font-size: 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-family: inherit;
    margin: 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-left: 6px;
    width: 35%;
}


.get-learn-btn:hover {
    background: linear-gradient(135deg, #4a5057, #343a3f);
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.get-started-btn:last-child {
    margin-right: 0; 
}

.get-started-btn:hover {
    background-color: #e06749;
    transform: scale(1.05); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); 
}

.main-img {
    max-width: 450px; 
    object-fit: contain;
    margin-left: 20px;
    height: auto;
    opacity: 0; 
    animation: fadeIn 4s ease-in-out forwards; 
    animation-delay: 3s;
}
@keyframes fadeIn {
    to {
        opacity: 1;
        
    }
}
.main-img-2 {
    max-width: 80px; 
    object-fit: contain;
    margin-left: 40px;
    height: auto;
    animation: fadeOut 3s ease-in-out forwards;
    z-index: 2; 
    position: absolute;
    left:800px;
    top:200px;
    animation: shake 0.5s ease-in-out 2, fadeOut 1s ease 1s forwards;
}
@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}
@keyframes fadeOut {
    to {
        opacity: 0;
        
    }
}
.main-img:hover {
    transform: scale(1.05);
}
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* section cards */

.new-section {
    grid-column: 1 / -1; 
    border-top: solid 1px #dee2e6;
    margin-top: 350px;
    border-bottom: 1px solid #dee2e6;
}

.divider {
    border: none;
    height: 2px;
    background-color: #ccc; 
    margin: 20px 0; 
}

.content {
    margin: 0 auto; 
}
.new-section {
    padding: 2rem 0; 
}



.card-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    justify-items: center; 
    align-items: center; 
    max-width: 1200px;
    width:80%; 
    overflow: hidden; 
    margin: 100px auto;
    
}

.card {
    background-color: #fff; 
    width: 200px; 
    height: 200px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s; 
    padding: 10px;
    text-align: center;
}

.card:hover {
    transform: translateY(-5px); 
}

.card-icon {
    font-size: 3rem; 
    color: #ff7956; 
    margin-bottom: 10px; 
}
.card h3{
    color:#50585e
}

/* inventors section */

.inventors-section {
    grid-column: 1/-1; 
    padding: 50px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
}
.albert-div{
    display: flex;
    overflow: hidden;
    align-items: center;
    width: 50%;
    
}
.info-albert{
    width: 50%;
    overflow: hidden;
}
.info-albert h2{
    font-family: 'Montserrat', sans-serif;
    color: #485056;
    text-align: center;
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: bold;
}
.info-albert p{
    color: #5d656a;
    text-align: center;
    font-size:18px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}

/* about us section */

.about-us{
    grid-column: 1/-1; 
    padding: 50px 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}
.about-us h2{
    font-size: 50px;
    color: #ff7955;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 90px;
}
.paragraph-container {
    display: flex;
    justify-content: space-between; /* Spaces paragraphs evenly */
    gap: 150px; /* Adds space between each paragraph */
    margin-bottom: 30px;
}

.about-paragraph {
    flex: 1; /* Ensures paragraphs share equal space */
    width: 250px;
    height: 250px;
}
.about-paragraph h3{
    font-family: 'Montserrat', sans-serif;
    color: #485056;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}
.about-paragraph p{
    color: #5d656a;
    text-align: center;
    font-size:20px;
    font-weight: bold;
    font-family: 'Merriweather', serif;
}
/* responsive section */

@media (max-width: 1600px) {
    .main-img-2{
        left:600px;
    }
  
}

@media (max-width: 1324px) {
    body {
        grid-template-columns: 1fr; 
        padding: 0;
    }
    header{
        width: 100%;
    }
    
    .navbar {
        padding: 0 20px;
    }

    .card-section {
        grid-template-columns: repeat(2, 1fr); /* Two cards per row */
    }
    .nav-links {
        display: none; 
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 80px; 
        left: 0;
        right: 0;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        padding: 10px;
        z-index: 10;
    }
    

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block; 
    }

    .nav-links li {
        margin: 10px 0;
    }


    main {
        flex-direction: column; 
        padding: 20px;
        height: auto;
        margin-top: 100px;
    }
    .get-started-btn,
    .get-learn-btn {
        font-size: 20px; 
        padding: 10px 20px; 
        width: 80%; 
        margin: 10px 0; 
    }
    .main-img-2{
        display: none;
    }
    .card-section {
        grid-template-columns: 1fr;  /* One card per row */
    }
    .inventors-section {
        grid-template-columns: 1fr; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }
    .albert-div {
        flex-direction: column; /* Stack image and text vertically */
        margin-bottom: 30px; /* Add space between sections */
    }
    .albert-div img {
        width: 80%; /* Make images smaller for mobile */
        max-width: 250px; /* Set a maximum width */
        margin-bottom: 15px;
    }
    .info-albert h2 {
        font-size: 24px; /* Adjust font size for mobile */
    }
    .info-albert p {
        font-size: 16px; /* Adjust font size for mobile */
        padding: 0 15px; /* Add padding for readability */
    }
    .paragraph-container {
        flex-direction: column;
        gap: 20px;
    }
}



@media (max-width: 768px) {
    body{
        grid-template-columns: 1fr; 
    }
    .nav-links {
        display: none; 
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 90px; 
        right: 10px;
        background-color: white;
        width: 100%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 10px;
        z-index: 10;
    }

 
    .menu-icon{
        display: block;
        
    }
    
    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }
    main {
        flex-direction: column; 
        padding: 20px;
        height: auto;
        /* margin-top: 340px; */
    }
    .get-started-btn,
    .get-learn-btn {
        font-size: 20px; 
        padding: 10px 20px; 
        width: 80%; 
        margin: 10px 0; 
    }
    .card-section {
        grid-template-columns: 1fr;  /* One card per row */
    }
    .inventors-section {
        grid-template-columns: 1fr; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
    }
    .albert-div {
        flex-direction: column; /* Stack image and text vertically */
        margin-bottom: 30px; /* Add space between sections */
    }
    .albert-div img {
        width: 80%; /* Make images smaller for mobile */
        max-width: 250px; /* Set a maximum width */
        margin-bottom: 15px;
    }
    .info-albert h2 {
        font-size: 24px; /* Adjust font size for mobile */
    }
    .info-albert p {
        font-size: 16px; /* Adjust font size for mobile */
        padding: 0 15px; /* Add padding for readability */
    }
    .paragraph-container {
        flex-direction: column;
        align-items: center;
    }
}